@using AsistManager.Models.ViewModels
@model List<AcreditadoSearchViewModel>

<h3>Listado de Acreditados: @ViewBag.Evento.Nombre <i>(@ViewBag.Evento.FechaInicio)</i></h3>

<fieldset class="mt-4">

    <!--Mostrar alerta-->
    <partial name="_Alert"></partial>

    <div class="card shadow">
        <div class="card-header">
            <a class="btn btn-secondary my-2" asp-controller="Evento" asp-action="Menu" asp-route-id="@ViewBag.Evento.Id">
                Atrás
            </a>

            <!--Botón para agregar nuevo acreditado-->
            <a class="btn btn-primary" asp-action="Create" asp-route-id="@ViewBag.Evento.Id">
                <i class="bi bi-people p-1"></i>
                Nuevo
            </a>

            <!--Sección para buscar por DNI-->
            <div class="my-3 row col-md-3">
                <h5 class="text-muted">Buscar por DNI</h5>

                <form asp-action="Search" method="get" asp-route-id="@ViewBag.Evento.Id">
                    <div class="input-group">
                        <input type="text" class="form-control" name="dni" placeholder="Ingrese DNI">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark">
                                <i class="bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body">

            <!--Informar cantidad de registros-->
            @if (Model.Count == 0)
            {
                <label class="fw-bold text-danger">No se han encontrado registros asociados a este evento.</label>
            }
            else
            {
                <label class="fw-bold text-secondary">Mostrando @Model.Count acreditado(s)</label>
            }

            <!--Tabla de acreditados con sus operaciones disponibles-->
            <partial name="_TablaAcreditadosControl" model="Model" />
        </div>
    </div>
</fieldset>