@using AsistManager.Models.ViewModels
@model AcreditadoSearchViewModel

<head>
    <link rel="stylesheet" href="~/css/botones.css" />
</head>

<!--Muestro detalles del acreditado que se buscó-->
<div class="card shadow">
    <div class="card-header">
        <a class="btn btn-secondary my-2" asp-controller="Acreditado" asp-action="Index" asp-route-id="@Model.Acreditado.IdEvento">
            Atrás
        </a>
    </div>

    <div class="card-body shadow-sm">
        <h3>Resultado de la búsqueda:</h3>

        <partial name="_AcreditadoDetails" model="Model" />

        <div class="my-4">

            <!--Verificar si existe ingreso e informar-->
            <h5>
                @if (Model.Ingreso != null)
                {
                    <strong class="text-success">
                        <i class="bi-arrow-right"></i>
                        <i class="bi-door-open"></i>
                        Ingresó (@Model.Ingreso.FechaOperacion)
                    </strong>
                }
                else
                {
                    <strong class="text-danger">
                        <i class="bi-x"></i>
                        <i class="bi-door-closed"></i>
                        No ingresó
                    </strong>
                }
            </h5>

            <!--Verificar si existe egreso e informar-->
            <h5>
                @if (Model.Egreso != null)
                {
                    <strong class="text-success">
                        <i class="bi-arrow-left"></i>
                        <i class="bi-door-open"></i>
                        Egresó (@Model.Egreso.FechaOperacion)
                    </strong>
                }
                else
                {
                    <strong class="text-danger">
                        <i class="bi-x"></i>
                        <i class="bi-door-closed"></i>
                        No egresó
                    </strong>
                }
            </h5>
        </div>

        <!--Listado de operaciones-->
        <div class="card-body">
            <div class="d-flex justify-content-around">

                <form asp-action="Entry" asp-route-id="@Model.Acreditado.Id" method="post"
                    class="d-flex justify-content-center align-items-center col">

                    <!--Habilitar botón solo si no existe un ingreso-->
                    <button type="submit"
                        class="btn btn-info boton-grande shadow-sm"
                        disabled="@(Model.Ingreso!=null)">

                        <span class="boton-grande-texto">
                            <i class="bi-door-open"></i>
                            Registrar Ingreso
                        </span>
                    </button>
                </form>

                <form asp-action="Exit" asp-route-id="@Model.Acreditado.Id" method="post"
                    class="d-flex justify-content-center align-items-center col">

                    <!--Habilitar botón solo si existe un ingreso y no existe un egreso-->
                    <button type="submit"
                        class="btn btn-dark boton-grande shadow-sm"
                        disabled="@(Model.Ingreso == null || Model.Egreso != null)">

                        <span class="boton-grande-texto">
                            <i class="bi-door-open"></i>
                            Registrar Egreso
                        </span>
                    </button>
                </form>

                <form asp-action="Update" asp-route-id="@Model.Acreditado.Id" method="get"
                      class="d-flex justify-content-center align-items-center col">

                    <button type="submit"
                            class="btn btn-warning boton-grande shadow-sm">

                        <span class="boton-grande-texto">
                            <i class="bi-pencil-square"></i>
                            Editar registro
                        </span>
                    </button>
                </form>

                <form asp-action="Delete" asp-route-id="@Model.Acreditado.Id" method="get"
                      class="d-flex justify-content-center align-items-center col">

                    <button type="submit"
                            class="btn btn-danger boton-grande shadow-sm">

                        <span class="boton-grande-texto">
                            <i class="bi-trash"></i>
                            Borrar registro
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
