@using AsistManager.Models.ViewModels
@model AcreditadoSearchViewModel

<head>
    <link rel="stylesheet" href="~/css/botones.css" />
</head>

<!--Muestro detalles del acreditado que se buscó-->
<div class="card shadow">
    <div class="card-header">
        <partial name="_BotonAtras" />
    </div>

    <div class="card-body">
        <h3>Resultado de la búsqueda:</h3>

        <!--Detalles del acreditado-->
        <div class="card-body shadow-sm m-3">
            <p><strong>Nombre:</strong> @Model.Acreditado.Nombre</p>
            <p><strong>Apellido:</strong> @Model.Acreditado.Apellido</p>
            <p><strong>DNI:</strong> @Model.Acreditado.Dni</p>
            <p><strong>Celular:</strong> @Model.Acreditado.Celular</p>
            <p><strong>CUIT:</strong> @Model.Acreditado.Cuit</p>
            <p><strong>Grupo:</strong> @Model.Acreditado.Grupo</p>
        </div>

        <div class="my-4">
            <!--Verificar si está habilitado e informar-->
            <h5>
                @if (Model.Acreditado.Habilitado == true)
                {
                    <strong class="text-success">
                        <i class="bi-check"></i>
                        Está habilitado
                    </strong>
                }
                else
                {
                    <strong class="text-danger">
                        <i class="bi-x"></i>
                        No está habilitado
                    </strong>
                }
            </h5>

            <!--Verificar si existe ingreso e informar-->
            <h5>
                @if (Model.Ingreso != null)
                {
                    <strong class="text-success">
                        <i class="bi-arrow-right"></i>
                        <i class="bi-door-open"></i>
                        Ingresó (@Model.Ingreso.FechaOperacion)
                    </strong>
                }
                else
                {
                    <strong class="text-danger">
                        <i class="bi-x"></i>
                        <i class="bi-door-closed"></i>
                        No ingresó
                    </strong>
                }
            </h5>

            <!--Verificar si existe egreso e informar-->
            <h5>
                @if (Model.Egreso != null)
                {
                    <strong class="text-success">
                        <i class="bi-arrow-left"></i>
                        <i class="bi-door-open"></i>
                        Egresó (@Model.Egreso.FechaOperacion)
                    </strong>
                }
                else
                {
                    <strong class="text-danger">
                        <i class="bi-x"></i>
                        <i class="bi-door-closed"></i>
                        No egresó
                    </strong>
                }
            </h5>
        </div>

        <!--Listado de operaciones-->
        <div class="card-body">
            <div class="d-flex justify-content-around">

                <form asp-action="Entry" asp-route-id="@Model.Acreditado.Id" method="post"
                class="d-flex justify-content-center align-items-center col">

                    <!--Habilitar botón solo si no existe ingreso-->
                    <button type="submit"
                    class="btn btn-info boton-grande shadow-sm"
                    disabled="@(Model.Ingreso!=null && Model.Acreditado.Habilitado==true)">

                        <span class="boton-grande-texto">
                            <i class="bi-door-open"></i>
                            Registrar Ingreso
                        </span>
                    </button>
                </form>

                <form asp-action="Exit" asp-route-id="@Model.Acreditado.Id" method="post"
                class="d-flex justify-content-center align-items-center col">

                    <!--Habilitar botón solo si existe ingreso y no existe egreso-->
                    <button type="submit"
                    class="btn btn-dark boton-grande shadow-sm"
                    disabled="@(Model.Ingreso==null && Model.Egreso!=null)">

                        <span class="boton-grande-texto">
                            <i class="bi-door-open"></i>
                            Registrar Egreso
                        </span>
                    </button>
                </form>

                <div class="d-flex justify-content-center align-items-center col">
                    <a class="btn btn-warning boton-grande shadow-sm"
                       asp-controller="Acreditado" asp-action="Update" asp-route-id="@Model.Acreditado.Id">
                        <span class="boton-grande-texto">
                            <i class="bi-pencil-square"></i>
                            Editar registro
                        </span>
                    </a>
                </div>

                <div class="d-flex justify-content-center align-items-center col">
                    <a class="btn btn-danger boton-grande shadow-sm"
                       asp-controller="Acreditado" asp-action="Delete" asp-route-id="@Model.Acreditado.Id">
                        <span class="boton-grande-texto">
                            <i class="bi-trash"></i>
                            Borrar registro
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
