@model Evento

<h3>
    Borrar evento <label class="text-muted">@Model.Nombre <i>(@Model.FechaInicio)</i></label>
</h3>

<fieldset class="mt-4">
    <div class="col-md-6 card shadow">
        <div class="card-header">
            <partial name="_BotonAtras" />
        </div>

        <div class="card-body">
            <!--Form para borrar el evento seleccionado-->
            <form asp-action="Delete" method="post">

                <div>
                    <h2 class="text-danger mb-4"></i> ¡Atención!</h2>
                    <div>
                        <i class="bi bi-exclamation-triangle-fill text-warning"></i>
                        Al borrar este evento, se eliminarán <b>todos los datos relacionados con él, incluyendo los acreditados asociados, así como sus registros de ingresos y egresos.</b>
                    </div>
                    <br />

                    <div class="mt-3">
                        <b class="text-muted">
                            Los siguientes datos se perderán:
                        </b>

                        <div class="mt-2">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i>
                                        Nombre del evento: <b>@Model.Nombre</b>
                                    </i>
                                </li>
                                <li class="list-group-item">
                                    <i>
                                        Fecha del evento: <b>@Model.FechaInicio</b>
                                    </i>
                                </li>

                                @{
                                    var elementos = new Dictionary<string, int>()
                                    {
                                        { "acreditado(s)", (int)ViewData["AcreditadosABorrar"] },
                                        { "ingreso(s)", (int)ViewData["IngresosABorrar"] },
                                        { "egreso(s)", (int)ViewData["EgresosABorrar"] }
                                    };
                                }

                                @foreach (var item in elementos)
                                {
                                    if (item.Value > 0)
                                    {
                                        <li class="list-group-item">
                                            <i>
                                                <b>@item.Value</b> @item.Key asociado(s).
                                            </i>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <b>
                        Esta acción es irreversible. ¿Estás seguro de que deseas continuar?
                    </b>
                </div>

                <!--Dirige a acción POST 'Delete' del controlador-->
                <div class="form-group mt-3 d-flex flex-row justify-content-between">
                    <button type="submit" class="btn btn-danger mt-4 w-100">
                        <i class="bi bi-trash"></i>
                        Borrar evento
                    </button>
                </div>
            </form>
        </div>
    </div>
</fieldset>