@model List<Evento>

<head>
    <link rel="stylesheet" href="~/css/tablaEventos.css" />
</head>

<h3>Listado de eventos</h3>

<fieldset class="mt-4">

    <!--Mostrar alerta-->
    <partial name="_Alert"></partial>

    <div class="card shadow">
        <div class="card-header">

            <!--Botón para agregar nuevo evento-->
            <a class="btn btn-primary my-2" asp-action="Create">
                <i class="bi bi-calendar-plus p-1"></i>
                Nuevo
            </a>

            <!--Sección para buscar por cualquier campo-->
            <div class="col-md-3 my-4">
                <form asp-action="Filter" method="get">
                    <h5 class="text-muted">Buscar por cualquier campo</h5>
                    <div class="input-group">

                        <input type="text" class="form-control" name="filtro" placeholder="Ingrese una palabra" value="@TempData["PalabraBuscada"]">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark">
                                <i class="bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="card-body">

            <!--Informar cantidad de eventos-->
            @if (Model.Count == 0)
            {
                <label class="fw-bold text-danger">No se han encontrado eventos.</label>
            }
            else
            {
                <label class="fw-bold text-secondary">Mostrando @Model.Count evento(s)</label>
            }

            <!--Tabla de eventos con sus operaciones disponibles-->
            <table class="table table-responsive mt-3">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de Inicio</th>
                        <th>Hora de Inicio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Model)
                    {
                        <tr class="table-row shadow-sm py-4 my-2" onclick="location.href='@Url.Action("Menu", new { id = evento.Id })'">
                            <td>
                                @Html.DisplayFor(m => evento.Nombre)
                            </td>
                            <td>
                                @evento.FechaInicio.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @evento.FechaInicio.ToString("HH:mm:ss")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
