@model Evento

<head>
    <link rel="stylesheet" href="~/css/botones.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<h3>Configurar Evento <label class="text-muted">@Model.Nombre <i>(@Model.FechaInicio)</i></label></h3>

<!--Acciones disponibles-->
<fieldset class="mt-4">
    <div class="card shadow">
        <div class="card-header">
            <a class="btn btn-secondary my-2" asp-controller="Evento" asp-action="Index">
                Atrás
            </a>
        </div>

        <div class="card-body row d-flex m-3 justify-content-around">
            <a class="btn btn-info boton-grande col mx-1 shadow-sm d-flex justify-content-center align-items-center"
                asp-controller="Acreditado" asp-action="Index" asp-route-id="@Model.Id">
                <span class="boton-grande-texto">
                    <i class="bi bi-people"></i>
                    Acreditados
                </span>
            </a>

            <a class="btn btn-success boton-grande col mx-1 shadow-sm d-flex justify-content-center align-items-center"
                asp-action="Import" asp-route-id="@Model.Id">
                <span class="boton-grande-texto">
                    <i class="bi bi-database"></i>
                    Importar
                </span>
            </a>

            <a class="btn btn-warning boton-grande col mx-1 shadow-sm d-flex justify-content-center align-items-center"
                asp-action="Update" asp-route-id="@Model.Id">
                <span class="boton-grande-texto">
                    <i class="bi bi-pencil-square"></i>
                    Editar
                </span>
            </a>

            <a class="btn btn-danger boton-grande col mx-1 shadow-sm d-flex justify-content-center align-items-center"
                asp-action="Delete" asp-route-id="@Model.Id">
                <span class="boton-grande-texto">
                    <i class="bi bi-trash"></i>
                    Borrar
                </span>
            </a>
        </div>

        <!--Chart sobre el evento-->
        <canvas class="m-3" id="chartAcreditados" width="60" height="30"></canvas>
    </div>
</fieldset>

<script>
    //Graficar chart con información del evento
    var ctx = document.getElementById('chartAcreditados').getContext('2d');
    var chartAcreditados = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Registros en base', 'Ingresos', 'Egresos'],
            datasets: [{
                responsive: true,
                label: 'Registros',
                data: [
                    @ViewBag.ChartRegistros,
                    @ViewBag.ChartIngreso,
                    @ViewBag.ChartEgreso,
                ],
                backgroundColor: [
                    'rgba(152, 172, 255, 1)',
                    'rgba(152, 255, 171, 1)',
                    'rgba(255, 160, 152, 1)',
                ],
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    grid: {
                        display: false
                    }
                }
            }
        }
    });
</script>