@model Acreditado

<!--Muestro detalles del acreditado que se buscó-->
<div>
    <h4>Detalles del registro</h4>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Apellido:</strong> @Model.Apellido</p>
    <p><strong>DNI:</strong> @Model.Dni</p>
    <p><strong>Celular:</strong> @Model.Celular</p>
    <p><strong>CUIT:</strong> @Model.Cuit</p>
    <p><strong>Grupo:</strong> @Model.Grupo</p>
</div>
