@using AsistManager.Models.ViewModels
@model List<AcreditadoSearchViewModel>

<head>
    <link rel="stylesheet" href="~/css/tablaRegistros.css" />
</head>

<table class="table table-hover table-responsive tabla-registros mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>CUIT</th>
            <th>Celular</th>
            <th>Grupo</th>
            <th>Habilitado</th>
            <th>Alta</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Recorrer registros la lista de acreditados y mostrarlos-->
        @foreach (var registro in Model)
        {
            <tr>
                <!--Informar datos del acreditado-->
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Nombre)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Apellido)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Dni)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Cuit)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Celular)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Acreditado.Grupo)</td>
                <td class="rowCampo">@(registro.Acreditado.Habilitado.HasValue ? (registro.Acreditado.Habilitado.Value ? "Sí" : "No") : "N/D")</td>
                <td class="rowCampo">@(registro.Acreditado.Alta.HasValue ? (registro.Acreditado.Alta.Value ? "Sí" : "No") : "N/D")</td>

                <!--Informar hora de ingreso y egreso-->
                <td class="rowCampo">@Html.DisplayFor(m => registro.Ingreso.FechaOperacion)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Egreso.FechaOperacion)</td>

                <!--Operaciones disponibles-->
                <td>
                    <div class="d-inline-flex">
                        <a class="btn btn-info" asp-action="Search" asp-route-id="@registro.Acreditado.IdEvento" asp-route-dni="@registro.Acreditado.Dni">
                            <i class="bi-list-check"></i>
                        </a>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@registro.Acreditado.Id">
                            <i class="bi-pencil"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@registro.Acreditado.Id">
                            <i class="bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>