@model List<Acreditado>

<table class="table table-striped tabla-registros mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>CUIT</th>
            <th>Celular</th>
            <th>Grupo</th>
            <th>Habilitado</th>
            <th>Alta</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!--Recorrer registros la lista de acreditados y mostrarlos-->
        @foreach (var registro in Model)
        {
            int errores = 0;
            string[] errorInfo = { };
            string estiloRow = "";

            //Verificar la cantidad de errores
            List<string> propiedades = new List<string> { registro.Dni, registro.Nombre, registro.Apellido, registro.Cuit };

            errores += propiedades.Count(prop => string.IsNullOrEmpty(prop));

            @if (errores > 0)
            {
                estiloRow = "bg-warning";
            }

            <tr class=@estiloRow>
                <td>@registro.Nombre</td>
                <td>@registro.Apellido</td>
                <td>@registro.Dni</td>
                <td>@registro.Cuit</td>
                <td>@registro.Celular</td>
                <td>@registro.Grupo</td>
                <td>@(registro.Habilitado ? "Sí" : "No")</td>
                <td>@(registro.Alta ? "Sí" : "No")</td>
                <td>
                    @if (errores > 0)
                    {
                        <i class="bi bi-exclamation-circle text-danger"></i>
                        <span class="text-danger fw-bold">Sin insertar</span>
                    }
                    else
                    {
                        <i class="bi bi-check-circle"></i>
                        <span class="text-success fw-bold">Insertado</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>