@model List<Acreditado>

<table class="table table-striped tabla-registros mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>CUIT</th>
            <th>Habilitado</th>
            <th>Celular</th>
            <th>Grupo</th>
            <th>Alta</th>
        </tr>
    </thead>

    <tbody>
        <!--Recorrer registros la lista de acreditados y mostrarlos-->
        @foreach (var registro in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => registro.Nombre)</td>
                <td>@Html.DisplayFor(m => registro.Apellido)</td>
                <td>@Html.DisplayFor(m => registro.Dni)</td>
                <td>@Html.DisplayFor(m => registro.Cuit)</td>
                <td>@Html.DisplayFor(m => registro.Celular)</td>
                <td>@Html.DisplayFor(m => registro.Grupo)</td>
                <td>@(registro.Habilitado ? "Sí" : "No")</td>
                <td>@(registro.Alta ? "Sí" : "No")</td>
            </tr>
        }
    </tbody>
</table>