@model List<Acreditado>

<table class="table table-hover tabla-registros mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>CUIT</th>
            <th>Habilitado</th>
            <th>Celular</th>
            <th>Grupo</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!--Recorrer registros la lista de acreditados y mostrarlos-->
        @foreach (var registro in Model)
        {
            <tr>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Nombre)</td>
                <td class="rowCampo">@Html.DisplayFor(m => registro.Apellido)</td>
                <td>@Html.DisplayFor(m => registro.Dni)</td>
                <td>@Html.DisplayFor(m => registro.Cuit)</td>
                <td>@(registro.Habilitado.HasValue ? (registro.Habilitado.Value ? "Sí" : "No") : "N/D")</td>
                <td>@Html.DisplayFor(m => registro.Celular)</td>
                <td>@Html.DisplayFor(m => registro.Grupo)</td>
                <td>@Html.DisplayFor(m => registro.Ingresos)</td>
                <td>@Html.DisplayFor(m => registro.Egresos)</td>

                <!--Operaciones disponibles-->
                <td class="d-flex">
                    <a class="btn btn-info" asp-action="Search" asp-route-id="@registro.IdEvento" asp-route-dni="@registro.Dni">
                        <i class="bi-list-check"></i>
                        Detalle
                    </a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@registro.Id">
                        <i class="bi-pencil"></i>
                        Editar
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@registro.Id">
                        <i class="bi-trash"></i>
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .rowCampo{
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>